.float-left {
    float: left;
}

.float-right {
    float: right;
}

body {
    margin: 0;
}

header {
    background: gray;
    text-align: center;
}

nav ul {
    margin: auto;
    text-align: center;
}

nav li {
    display: inline;
    text-align: center;
    margin-right: 10px;
}

nav a {
    text-decoration: none;  
}

img {
    height:5%;
    width:10%;
    margin-left: 75px;
}

footer {
    background: gray;
    margin-bottom: 0;
}