.float-left { float: left; }

.float-right { float: right; }

body { margin: 0; }

p { font-family: 'Abel', sans-serif; }

header { background: rgb(48,68,120); text-align: center; }

nav ul { margin: auto; text-align: center; font-weight: bold; }

nav li { display: inline; text-align: center; text-decoration: none; margin-right: 10px; }

nav a { text-decoration: none; color: white; }

nav a:hover { text-decoration: none; color: antiquewhite; }

nav img { max-height: 15%; height: 100px; max-width: 15%; width: 300px; margin-left: 50px; }

footer { background: rgb(48,68,120); margin-top: 20px; margin-bottom: 0; color: white; }

#cs-form { font-family: 'Abel', sans-serif; text-align: center; }

.card { margin-top: 20px; text-align: center; }

.flex-container { display: flex; justify-content: space-evenly; flex-wrap: wrap; }

.flex-item { align-content: center; border: 4px black solid; margin: 10px; max-height: 20%;
max-width: 20%; }